INSTALL
aclocal.m4
autom4te.cache
compile
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
missing
m4
stamp-h1
**/*.deps
**/.deps
**/.libs
**/Makefile
**/Makefile.in
batch/**
!batch/**/*.am
!batch/**/*.c
!batch/**/*.h
view/**
!view/**/Makefile.am
!view/desktop
!view/gfsview
!view/**/*.c
!view/**/*.h
!view/**/*.glade
!view/**/*.gladep

