ltmain.sh
configure
aclocal.m4
autom4te.cache
test-driver
config.*
libtool
**/*.deps
**/.deps
**/.libs
**/Makefile
**/Makefile.in
examples/**
!examples/**/Makefile.am
!examples/**/*.c
tools/**
!tools/**/Makefile.am
!tools/**/makefile.msc
!tools/**/*.c
INSTALL
compile
depcomp
gts.pc
install-sh
missing
src/gts-config
src/gtsconfig.h
src/predicates_init
src/predicates_init.h
stamp-h1
